:root {
    --dark-blue: #003c71;
    --blue: #296cf6;
    --transparent-blue: rgb(0 37 85 / 0.8);
    --white: #ffffff;
    --yellow: #fff400;
}

header {
    background-color: var(--dark-blue);
    position: absolute;
    top: 0;
    width: 100%;
}

body {
    background-color: var(--white);
}

footer {

}

#title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--white);
    text-align: center;
}
